@import "../variables//variables.scss";

.header {
  margin-top: -30px;
  padding-bottom: 10rem;
  position: relative;
  height: 804px;
  width: 100%;
}
.vactor-Container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  align-items: end;
  padding-right: 20px;
}

.vactor-Container-1 {
  @include respond(phone) {
    width: 200px;
  }

  &-logo {
    margin-top: 4rem;
    margin-left: 7rem;

    @include respond(phone) {
      display: none;
    }
  }

  &-title {
    margin: auto;
    height: 200px;
    width: 370px;
    margin-top: 110px;
    margin-left: 7rem;
    background-repeat: no-repeat;

    justify-content: center;
    font-family: "Kolage Demi Bold";
    font-size: 62px;
    font-weight: 700;
    line-height: 69px;
    color: #0e2368;

    @include respond(phone) {
      display: block;
      width: 600px;
      height: 360px;
      text-align: center;
      margin-top: 300px;
      margin-left: 240px;
      font-size: 90px;
      font-weight: 700;
      line-height: 1.2;
    }
  }

  &-description {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 27.41px;
    color: hsla(224, 13%, 30%, 1);

    height: 130px;
    width: 370px;
    padding-top: 2rem;
    margin-left: 7rem;

    @include respond(phone) {
      width: 700px;
      height: 150px;
      margin-left: 200px;
      // background-color: #8894b6;
      text-align: center;
      font-size: 40px;
      line-height: 1.1;
      padding-top: 0px;
    }
  }

  &-button {
    background-color: #e23744;
    width: 190px;
    height: 63px;
    border-radius: 34px;
    margin-left: 7rem;

    @include respond(phone) {
      margin-left: 350px;
      width: 330px;
      height: 110px;
      border-radius: 60px;
      font-size: 35px;
    }
  }
}

.vactor-One {
  // position: relative;
  width: 100%;
  height: 900px;
  object-fit: cover;
  border-bottom-left-radius: 199px;
  margin-left: 20px;

  @include respond(phone) {
    display: block;
    width: 1120px;
    margin-left: 0px;
  }
}

.vactor-Two {
  position: "absolute";
  top: 0;
  right: 0;
  width: "100%";
  height: "100%";
  object-fit: cover;

  @include respond(phone) {
    height: 400px;
    width: 100px;
    margin-left: 200px;
  }
}

.span {
  color: #e23744;
}
